.NaiveLight {
    font-family: NaiveLight, serif;
}
.ScriptinaPro {
    font-family: ScriptinaPro, serif;
}

.TheSerifHandRegular {
    font-family: TheSerifHandRegular, serif;
}

/* http://stackoverflow.com/questions/20746461/how-do-you-remove-the-default-bootstrap-3-carousel-control-background-gradients */
.carousel-control.left, .carousel-control.right {
    background-image: none
}

/* Sticky footer styles
http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

/* Carousel
http://stackoverflow.com/questions/13391566/twitter-bootstrap-carousel-different-height-images-cause-bouncing-arrows
*/
.myCarouselImg  {
    width: auto;
    height: 500px;
    max-height: 500px;
}

/* helper */
.top-buffer { margin-top:20px; }

.Garamond
{
    font-family: Garamond;
    font-size: 120%;
}
h4 {
    color: #346C3B;
    font-family: NaiveLight, serif;
}
h3 {
    color: #346C3B;
    font-family: NaiveLight, serif;
}
a:link.MainMenu { font-family: NaiveLight, serif; font-size: 150%; color: #346C3B; text-decoration: none; }
a:visited.MainMenu { font-family: NaiveLight, serif; color: #346C3B; text-decoration: none; }
a:hover.MainMenu { font-family: NaiveLight, serif; color: #919D93; text-decoration: none; }
a:active.MainMenu { font-family: NaiveLight, serif; color: #346C3B; text-decoration: none; }
