<h3>Impressum</h3>
<br>
<p>
Mag. Daniela Pock<br>
Gentzgasse 17/3/20-21<br>
1180 Wien | Österreich
</p>
<p>
Tel: +43 680 50 19 550<br>
E-Mail: info@studio-gruen.net
</p>
Unternehmensgegenstand: Berufsfotografie</br>
UID: entfällt aufgrund der Kleinunternehmerregelung
</p>
<p>
Mitglied der WKO Wien, Fachgruppe Berufsfotografen<br>
Gewerbeordnung: www.ris.bka.gv.at<br>
Aufsichtsbehörde: Magistratisches Bezirksamt für den 18. Bezirk, Wien
</p>
<h3>Copyright</h3>
<p>
All images are under © Daniela Pock 2015. All rights reserved. They may not
be reproduced, downloaded, or manipulated in any manner without prior
written consent from the copyright holder.
</p>