<p>
    Ich freue mich sehr, eure persönliche Geschichte fotografisch festzuhalten. Schreibt mir einfach ein Email oder ruft mich an, und erzählt mir von euch! Gerne berate ich euch und vereinbare mit euch ein persönliches Vorgespräch zum gegenseitigen Kennenlernen.
</p>
<p>
    Studio Grün<br>
    Visual Storytelling for Life<br>
    Daniela Pock<br>
    1180 Wien<br>
    +43 (0) 680 5019550<br>
</p>

<a href="mailto:info@studio-gruen.net"><img src="{{'IMG_contact' | translate}}" width="300"></a>