<!-- Gesamte Seite übersetzen -->
<h3>Fragen & Antworten</h3>
<hr>

<h4>Wie ist dein Zugang?</h4>
<p>Ich möchte euch vor der Fotosession etwas kennenlernen und mit euch gemeinsam ein Konzept entwerfen, um eine persönliche und vertraute Atmosphäre während der Aufnahme der Bilder zu schaffen. Dies gelingt am besten mit einem persönlichen Vorgespräch. Ihr sollt euch während der Fotosession wohlfühlen und Spaß haben - so entstehen besonders authentische Bilder! Das ist auch mein Anspruch: Persönliche und individuelle Fotoserien zu schaffen, die euch ein Leben lang an diese besondere Zeit erinnern. Daher arbeite ich bevorzugt mobil ohne Studio und bei natürlichem Licht.</p>
<hr>
<h4>Wieviel kostet eine Fotosession?</h4>
<p>Abhängig von Thema und Dauer starten meine Fotosessions bei 300 EUR. Nach unserem Vorgespräch erstelle ich euch ein individuelles Angebot.</p>
<hr>
<h4>Wo machen wir die Fotos?</h4>
<p>Den Aufnahmeort legen wir im gemeinsamen Vorgespräch fest. Er kann in der freien Natur sein, an einem Ort, mit dem ihr Besonderes verbindet, oder auch bei euch zuhause. Ich lebe derzeit in Wien und bin österreichweit tätig.</p>
<hr>
<h4>Wie können wir uns auf die Fotosession vorbereiten?</h4>
<p>Idealerweise macht ihr euch im Vorfeld schon Gedanken zu möglicher Kleidung und Accessoires, die auf den Bildern dabei sein sollen. Eure Kleidung sollte stilistisch und farblich zusammenpassen. Gerne könnt ihr dabei auch in andere Rollen schlüpfen - all das besprechen wir im persönlichen Vorgespräch. Abgesehen davon braucht ihr nur ausgeruht und entspannt für die Fotosession sein.</p>
<hr>
<h4>Wie lange dauert eine Fotosession?</h4>
<p>Basierend auf unserem Vorgespräch dauert eine Fotosession zwischen etwa 1 und 2,5 Stunden.</p>
<hr>
<h4>Wann ist der ideale Zeitpunkt für eine Fotosession?</h4>
<p>Für Schwangerschaftsfotos ist die Zeit um den 7. Schwangerschaftsmonat am idealsten - der Bauch ist schon schön sichtbar, und es ist noch nicht so beschwerlich wie gegen Ende der Schwangerschaft. Neugeborenen-Fotos mache ich am liebsten innerhalb der ersten 10 Lebenstage daheim bei den Familien, da die Kleinen da meist noch sehr ruhig sind und sich gerne fotografieren lassen :-) Alle anderen Baby-, Kinder- und Portraitbilder sind natürlich zu jedem Zeitpunkt möglich.</p>
<hr>
<h4>Was müssen wir wissen, wenn wir dich als Fotografin buchen?</h4>
<p>Mein Anspruch ist es, authentische Bilder aus dem Leben zu schaffen, die bleibende Erinnerungen an eine besondere Zeit bereiten. Dabei ist es sehr wichtig, dass sich alle Familienmitglieder während der Aufnahmen wohlfühlen. Die wertvollsten Bilder entstehen, wenn ich euch beinahe unbemerkt während eures Tuns miteinander aufnehme. Gerade mit kleinen Kindern möchte ich nicht dieses oder jenes Foto "erzwingen" - sie sollen sich einfach frei bewegen dürfen und ich halte sie auf den Bildern fest, wie sie sind. Aus diesem Grund möchte ich davon abraten, mit der Erwartung nach dem klassischen "gestellten" Familienportrait, bei dem "alle stillsitzen müssen", in die Fotosession zu gehen. Lasst uns lieber schöne Momente erleben, an die sich alle gerne zurückerinnern!</p>
<hr>
<h4>Was passiert nach der Fotosession?</h4>
<p>Ein paar Tage nach der Fotosession erhaltet ihr eine erste Voransicht der Fotos, aus denen ihr eure Bilder auswählen könnt. Diese werden dann von mir professionell bearbeitet und euch digital auf einer liebevoll gestalteten Foto-CD übergeben. Auf Wunsch biete ich auch noch weitere Leistungen (siehe unten) an.</p>
<hr>
<h4>Bekommen wir die Fotos auch in unbearbeiteter Rohversion?</h4>
<p>Nein, da die Nachbearbeitung der Fotos einen wesentlichen Arbeitsschritt zum fertigen Bild darstellt und ich als Fotografin für die Einhaltung meiner Qualitätsstandards verantwortlich bin. Digitale Rohdateien entsprechen etwa dem Negativfilm aus analogen Zeiten.</p>
<hr>
<h4>Welche zusätzlichen Angebote können wir bei dir buchen?</h4>
<p>Einen besonders schönen Rahmen für bleibende Erinnerungen bietet das von mir handgearbeitete <a href="#/carousel/album">Album</a> mit handgeschöpftem Papier. Eure Fotos können auf Wunsch auch gerne auf professionellem Fotopapier oder Fine Art Papier bzw. auf Leinwand oder Alu Dibond in verschiedenen Größen ausgearbeitet werden.</p>
