<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/favicon.ico">

    <title>Studio Grün</title>

    <!-- Bower CSS -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-social/bootstrap-social.css"/>
    <!-- Webfonts -->
    <link rel="stylesheet" type="text/css" href="webfonts/MyFontsWebfontsKit.css"/>
    <!-- Custom styles for this template -->
    <link href="css/custom.css" rel="stylesheet">
    <!-- JavaScript -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- TODO fetch it with bower -->
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
    <!-- Angular App -->
    <script src="js/app.js"></script>
    <script src="js/i18n.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-4 NaiveLight">
            <a href="#"><img class="img-responsive" src="img/logo_klein.jpg"/></a>
        </div>
    </div>
    <div class="row" ng-controller="MenuCtrl">
        <!-- TODO active menu entry is highlighted (different color not underlined) -->
        <div class="col-sm-4" >
            <p ng-repeat="category in categories" class="NaiveLight"><a href="#/carousel/{{category}}">{{category}}</a></p>

            <p class="NaiveLight"><a href="#/static/qa">{{'MENU_QA' | translate}}</a></p>

            <p class="NaiveLight"><a href="#/static/magazin">Studio Grün Magazin</a></p>

            <p class="NaiveLight"><a href="#/static/about">Über mich</a></p>

            <p class="NaiveLight"><a href="#/static/kontakt">Kontakt</a></p>

            <p class="NaiveLight"><a href="http://studio-gruen.blogspot.com/" target="_blank">Blog</a></p>
            <hr>
            <!-- <div class="TheSerifHandRegular"> class="TheSerifHandRegular"-->
            <div >
                was wirklich wichtig ist<br>
                ist der moment<br>
                das miteinander sein<br>
                und die liebe<br><br>
                ich begleite euch ein stück weit<br>
                und erzähle eure geschichte
            </div>
            <hr>
            <a class="btn btn-social-icon btn-facebook" target="_blank" href="https://www.facebook.com/studio.gruen">
                <i class="fa fa-facebook"></i></a>
            <a class="btn btn-social-icon btn-flickr" target="_blank" href="https://www.flickr.com/photos/mirhiban">
                <i class="fa fa-flickr"></i></a>
            <a class="btn btn-social-icon btn-instagram" target="_blank" href="http://instagram.com/my.tiny.studio">
                <i class="fa fa-instagram"></i></a>
            <a class="btn btn-social-icon btn-pinterest" target="_blank" href="http://www.pinterest.com/studiogruen/">
                <i class="fa fa-pinterest"></i></a>
            <a class="btn btn-social-icon btn-twitter" target="_blank" href="https://twitter.com/mirhiban">
                <i class="fa fa-twitter"></i></a>
            <hr>
            <div ng-controller="LangCtrl">
                <p><a href="" ng-click="changeLang('en')">{{'MENU_i18n_en' | translate}}</a></p>
                <p><a href="" ng-click="changeLang('de')">{{'MENU_i18n_de' | translate}}</a></p>
            </div>
        </div>

        <div class="col-sm-8" ng-view>
            {{"pictures2=" + pictures}}
            {{"categories2=" + categories}}
            <br><br>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container text-center">
        <p class="text-muted">© 2014 Daniela Pock // Studio Grün - Visual Storytelling for Life // Tel.: <a
                href="tel:+43 680 5019550">+43 680 5019550</a> // <a href="#/static/impressum">Impressum</a></p>
    </div>
</footer>
</body>
</html>